.button {
    background: $color-bg-main;
    border: 1px solid $color-border;
    border-radius: 10px;
    padding: 10px;
    color: $color-text;
    &--search {
        background: $color-btn-search;
    }
    &:hover {
        opacity: 0.9;
    }
    &:active {
        border: none;
    }
}