* {
  padding: 0;
  margin: 0;
  &,
  &::after,
  &::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-main;
    background-color: $color-bg-body;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
