$font-main: "Poppins", sans-serif;

$color-bg-body: #141414;
$color-bg-main: #0F0F0F;
$color-border: #1F1F1F;
$color-card-border: #262626;

$color-text: #fff;
$color-input: #b4b4b4;
$color-btn-search: #E50000;
